*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.top{
    width: 100%;
    background-color: #7cb8eb;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.right{
    float: right;
}
.left p{
    float: left;
    padding-left: 20px;
}
.left{
    float: left;
    text-align: right;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-container{
    width: 100%;
    height: 55vh;
    background: url(./logo/high-angle-woman-cleaning-floors.jpg),rgba(3, 100, 208, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    animation: changeimage 5s linear infinite;
}
.nav{
    position: relative;
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
.logo img{
    width: 50px;
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}
nav{
    padding-top: 20px;
}
.logo{
    margin-top: 10px;
}
nav ul li .act:active{
    color: #7cb8eb;
} 
nav ul li .act:visited{
    color: #7cb8eb;
}

nav span{
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 25px;
}
.nav ul{
    margin-right: 30px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    font-size: 17px;
    margin-top: 25px;
}
.nav ul ul{
    margin-top: 0;
}
.nav ul ul{
    position: absolute;
    display: block;
    background-color: #fff;
    visibility: hidden;
    border-radius: 20px; 
}
.nav ul ul a{
    color: black;
}
.nav ul li:hover > ul{
    color: #7cb8eb;
    opacity: 1;
    visibility: visible;
}
.nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border-top: 0;
} 
.nav ul li a:hover{
    color: #7cb8eb;
}
.button button{
    background: none;
    font-size: 17px;
    padding: 12px 30px;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    top: 1px;
    border-radius: 55px;
    font-family: 'Poppins', sans-serif;
}
.button button:hover{
    background-color: #7cb8eb;
    border-color: #7cb8eb;
}
.menu{
    margin-top: 25px;
    margin-right: 20px;
    display: none;

}
.menu a{
    color: #fff;
    font-size: 30px;
}
.main{
    width: 80%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    top: 100px;
}
.main h1{
    float: left;
    font-size: 50px;
}
.main .middle{
    float: right;
    padding-top: 30px;
}
.middle p a{
    color: #58affa;
}

/* reliable */

.reliable{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}
.left1{
    width: 50%;
    float: right;
}
.right1{
    margin: 0;
    width: 48%;
    float: left;
    padding-top:20px;
}
.left1 h1{
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 10px;
}
.left1 p{
    padding-left: 20px;
    color: grey;
}
.im img{
    width: 100%;
    border-radius: 20px;
}
.blue{
    color: #7cb8eb;
}
.btn{
    background-color: #7cb8eb;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 30px;
    padding: 15px 20px;
    margin: 20px 20px;
    font-family: 'Poppins', sans-serif;
}
.offer{
    width: 100%;
    background-color: #f0f8ff;
    padding: 50px 0px 90px 0px;
}
.text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
}
.best-offer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-left{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.box-right{
    width: 49%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.l{
    width: 48%;
    float: left;
}
.r{
    width: 48%;
   float: right;
   background-color: #fff;
   padding: 30px 0;
   border-radius: 10px;
   position: relative;
} 
.r::before{
    content: " ";
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    transform: rotate(45deg);
    top: 120px;
    left:-10px;
}
.r h2{
    padding-left: 30px;
    color: black;
    font-size: 25px;
}
.r p {
    padding-left: 30px;
    color: gray;
    margin: 10px 0;
    font-size: 15px;
}
hr{
    width: 80%;
    margin: 0 auto;
    border-top: 0.8px solid rgb(207, 206, 206);
}
.l img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* brand-container */
.brand-container{
    width: 100%;
    padding-bottom: 50px;
}
.trusted{
    width: 21%;
    margin: 0 auto; 
    padding: 7px 20px 7px 23px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0 10px 20px #dddcdc;
    position: relative;
    bottom: 26px;
    background-color: #fff;
    font-size: 17px;
}
.brand{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-child{
    width: 17%;
}
.brand-child img{
    width: 100%;
}
.woo{
    padding-top: 30px;
}
.glo{
   padding-top: 50px;
}
/* footer */
footer{
    width: 100%;
    background-color: #7cb8eb;
    padding: 30px 0;
}
.footer{
    width: 80%;
    margin: 0 auto;
}
.logo-1 img{
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    float: left;
}
.footer .list{
    display: block;
    float: left;
    padding-left: 70px;
    color: #fff;
}
.footer .list li{
    float: left;
    padding: 20px;
}
.footer .list li a{
    color: #fff;
}
.footer .list li a:hover{
    color: #2491f1;
}
.footer .footer-middle{
    clear: left;
    padding-top: 30px;
    color: #fff;
    line-height: 35px;
}
.boot{
    width: 20%;
    float: left;
}
.boot-2{
    width: 35%;
    float: left;
}
.boot-2 .color{
   padding-top: 10px;
}
.boot-2 .color i{
    padding: 5px;
    background-color: #4f83d1;
    margin-right: 10px;
    font-size: large;
    border-radius: 50%;
}
.boot-2 .color .pa{
    padding: 5px 8px;
}
.boot-1{
    width: 20%;
    float: left;
    padding-top: 50px;
}
.footer-bottom{
    width: 100%;
    float: left;
    clear: left;
    padding-top: 100px;
    color: #fff;

}
.bottom-left{
    float: left;
}
.bottom-right{
    float: right;
    padding-left: 100px;
}


@media only screen and (max-width:1312px){
  .left1{
    width: 100%;
  }
  .right1{
    width: 100%;
    margin-bottom: 20px;
  }
  .box-left{
    width: 100%;
    margin-bottom: 50px;
  }
  .box-right{
    width: 100%;
  }
  .r p{
    font-size: 30px;
  }
  .trusted{
    width: 20%;
    font-size: 15px;
}
}
@media only screen and (max-width:1372px){
    .trusted{
        width: 20%;
        font-size: 10px;
    }
    .trusted h2{
        padding-left: 15px;
    }
}
@media only screen and (max-width:1300px){
    .nav ul{
        display: none;
        clear: both;
        position: absolute;
        top: 120px;
        z-index: 2;
    }
    .nav ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav ul li a{
        margin-top: 0;
    }
   .carrot{
       transform: rotate(-90deg);
   }
   .nav ul ul{
       position: absolute;
       left: 100px;
       top: 30px;
       z-index: 1;    
   }
   .menu{
       display: block;
   }
}
@media only screen and (max-width:900px){
    .container{
        font-size: 10px;
    }
    .trusted{
        width: 25%;
        font-size: 8px;
    }
    .brand-child{
        width: 30%;
    }
    
    .boot{
        width: 100%;
        float: left;
    }
    .boot-1{
        width: 100%;
        float: left;
    }
    .boot-2{
        width: 100%;
        float: left;
    }
    .footer-bottom{
        font-size: 10px;
    }
    .l{
        width: 100%;
    }
    .r {
        width: 100%;
        margin-top: 30px;
    }

}
@media only screen and (max-width:375px){
    .left{
        width: 60%;
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        margin-right: 0;
        margin-top: 35px;
    }
    .main h1{
        font-size: 30px;
        margin-top: 0;
    }
    .main p{
        font-size: 15px;
    }
    .button button{
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 0;
    }
    .reliable{
        padding-bottom: 30px;
    }
    .left1 h1{
        font-size: 30px;
    }a
    .text h1{
        font-size: 40px;
    }
    .r p{
        font-size: 20px;
    }
    .trusted{
        width: 140px;
    }
    .trusted h2{
        padding-left: 0;
    }
    .brand-child{
        width: 15%;
    }
    .glo{
        padding: 0;
        margin-top: 10px;
    }
    .woo{
        padding: 0;
        margin-top: 10px;
    }
    .footer .list{
        font-size: 15px;
        padding-left: 0;
        
    }
    .footer .list li{
        padding: 10px 13px 0 0
    }
    .footer-bottom {
        font-size: 8px;
        margin: 0;
        padding-left: 0;
        padding-top: 50px;
    }
    .bottom-right{
        padding-left: 0;
    }
}
@media only screen and (max-width:414px){
    .left{
        width: 60%;
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        margin-right: 0;
        margin-top: 35px;
    }
    .main h1{
        font-size: 30px;
        margin-top: 100px;
    }
    .main p{
        font-size: 15px;
        margin-top: 80px;
    }
    .button button{
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 0;
    }
    .reliable{
        padding-bottom: 30px;
    }
    .left1 h1{
        font-size: 30px;
    }a
    .text h1{
        font-size: 40px;
    }
    .r p{
        font-size: 20px;
    }
    .trusted{
        width: 140px;
    }
    .trusted h2{
        padding-left: 0;
    }
    .brand-child{
        width: 15%;
    }
    .glo{
        padding: 0;
        margin-top: 10px;
    }
    .woo{
        padding: 0;
        margin-top: 10px;
    }
    .footer .list{
        font-size: 15px;
        padding-left: 0;
        
    }
    .footer .list li{
        padding: 10px 13px 0 0
    }
    .footer-bottom {
        font-size: 8px;
        margin: 0;
        padding-left: 0;
        padding-top: 50px;
    }
    .bottom-right{
        padding-left: 0;
    }
}