*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.top{
    width: 100%;
    background-color: #7cb8eb;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.right{
    float: right;
}
.left p{
    float: left;
    padding-left: 20px;
}
.left{
    float: left;
    text-align: right;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-container{
    width: 100%;
    height: 55vh;
    background: url(./logo/high-angle-woman-cleaning-floors.jpg),rgba(3, 100, 208, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    animation: changeimage 5s linear infinite;
}
.nav{
    width: 80%;
    margin: 0 auto;
    color: #fff;
}
.logo img{
    width: 50px;
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}
nav{
    padding-top: 20px;
}
.logo{
    margin-top: 10px;
}
nav ul li .act:active{
    color: #7cb8eb;
} 
nav ul li .act:visited{
    color: #7cb8eb;
}
nav span{
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 25px;
}
.nav ul{
    margin-right: 30px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 40px;
    font-size: 17px;
    /* transition: .1s; */
    margin-top: 25px;
}
.nav ul ul{
    margin-top: 0;
}
.nav ul ul{
    position: absolute;
    display: block;
    background-color: #fff;
    visibility: hidden;
    border-radius: 20px;
    
    
}
.nav ul ul a{
    color: black;
}
.nav ul li:hover > ul{
    color: #7cb8eb;
    opacity: 1;
    visibility: visible;
}
.nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border-top: 0;
} 
.nav ul li a:hover{
    color: #7cb8eb;
}
.button button{
    background: none;
    font-size: 17px;
    padding: 12px 30px;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    top: 1px;
    border-radius: 55px;
    font-family: 'Poppins', sans-serif;
}
.button button:hover{
    background-color: #7cb8eb;
    border-color: #7cb8eb;
}

.menu{
    margin-top: 25px;
    margin-right: 20px;
    display: none;

}
.menu a{
    color: #fff;
    font-size: 30px;
}
.main{
    width: 80%;
    margin: 0 auto;
    color: #fff;
    position: relative;
    top: 100px;
}
.main h1{
    float: left;
    font-size: 50px;
}
.main .middle{
    float: right;
    padding-top: 30px;
}
.middle p a{
    color: #58affa;
}


section{
    width: 100%;
    padding: 100px 0;

}
.center{
    width: 80%;
    margin: 0 auto;

}
.right1{
    width: 49%;
    float: left;
    color: #717275;
}
.right1 h1{
    font-size: 45px;
    color: black;
}
.box{
    width: 70%;
    background-color: #fff;
    padding: 30px;
    font-size: 20px;
    position: relative;
    left: 20px;
    top: 40px;
    border-radius: 20px;
    box-shadow: 0 0  30px 10px #eeecec;
}
.box h2{
    color: black;
}
.box p{
    font-size: 25px;
    padding-bottom: 10px;
    color: #717275;
}

.left1{
    width: 49%;
    float: right;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0  30px 10px #eeecec;
}

.left1 form{
    padding: 50px 0 50px 50px ;


}
form input{
    width: 180px;
    margin-right: 17px;
    padding: 10px;
    margin-top: 20px;
    border: 20px;
    border-radius: 5px;
    background-color: #fff;
    border:1px solid #a9a9aa;
    outline: none;
}
form select{
    /* width: 425px; */
    width: 90%;
    margin: 25px 0;
    padding: 10px 5px ;
    border-radius: 5px;
    border:1px solid #a9a9aa;
    
}
form textarea{
    /* width: 418px; */
    width: 90%;
    border-radius: 5px;
    padding: 10px 0 0 10px;
    border:1px solid #a9a9aa;
    outline: none;
}
button{
    text-align: center;
    margin-left: 100px;
    font-size: 15px;
    border-radius: 30px;
    color: #fff;
    background-color: #4f83d1;
    outline: none;
    border: none;
    padding: 5px 10px;
}

footer{
    width: 100%;
    background-color: #7cb8eb;
    padding: 30px 0;
}
.footer{
    width: 80%;
    margin: 0 auto;
}
.logo-1 img{
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    float: left;
}

.footer .list{
    display: block;
    float: left;
    padding-left: 70px;
    color: #fff;
}
.footer .list li{
    float: left;
    padding: 20px;
}
.footer .list li a{
    color: #fff;
}
.footer .list li a:hover{
    color: #2491f1;
}
.footer .footer-middle{
    clear: left;
    padding-top: 30px;
    color: #fff;
    line-height: 35px;
}
.boot{
    width: 20%;
    float: left;
}
.boot-2{
    width: 35%;
    float: left;
}
.boot-2 .color{
   padding-top: 10px;
}
.boot-2 .color i{
    padding: 5px;
    background-color: #4f83d1;
    margin-right: 10px;
    font-size: large;
    border-radius: 50%;
}
.boot-2 .color .pa{
    padding: 5px 8px;
}

.boot-1{
    width: 20%;
    float: left;
    padding-top: 50px;
}
.footer-bottom{
    width: 100%;
    float: left;
    clear: left;
    padding-top: 100px;
    color: #fff;

}
.bottom-left{
    float: left;
}
.bottom-right{
    float: right;
    padding-left: 100px;
}


@media only screen and (max-width:1300px){
    .nav ul{
       
        display: none;
        clear: both;
        position: absolute;
        top: 170px;
        z-index: 2;
    }
    .nav ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav ul li a{
        margin-top: 0;
    }
   .carrot{
       transform: rotate(-90deg);
   }
   
   .nav ul ul{
       position: absolute;
       left: 100px;
       top: 30px;
       z-index: 1;
   }
   .button button{
    margin-left: 0;
   }
   
   
   .menu{
       display: block;
   }
}
@media only screen and (max-width: 900px){
    .container{
        font-size: 10px;
    }
    .left1{
        width: 100%;
    }
    .right1{
        width: 100%;
        margin-bottom: 50px;
    }
    .boot{
        width: 100%;
        float: left;
    }
    .boot-1{
        width: 100%;
        float: left;
    }
    .boot-2{
        width: 100%;
        float: left;
    }
    .footer-bottom{
        font-size: 10px;
    }
}

@media only screen and (max-width:380px){
    .left{
        width: 60%; 
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        margin-right: 0;
        margin-top: 35px;
    }
    .main h1{
        font-size: 25px;
        margin-top: 100px;
    }
    .main p{
        margin-top: 80px;
    }
    .button button{
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 0;
    }
    .right1 h1{
        font-size: 30px;
    }
    .box p{
        font-size: 12px;
    }
    .left1{
        width: 100%;
        margin: 20px auto 0;
        float: left;
        
    }
    .left1 form{
        padding: 10px;
    }
    form input{
        width: 92%;
        margin-right: 0;
    }
    form select{
        width: 100%;
        outline: none;
    }
    form textarea{
        width: 95%;
    }
    button{
        margin-left: 70px;
        margin-top: 15px;
    }
    .footer .list{
        font-size: 15px;
        padding-left: 0;
        
    }
    .footer .list li{
        padding: 10px 13px 0 0
    }
    .footer-bottom {
        font-size: 8px;
        margin: 0;
        padding-left: 0;
        padding-top: 50px;
    }
    .bottom-right{
        padding-left: 0;
    }
}
@media only screen and (max-width:414px){
    .left{
        width: 60%; 
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        margin-right: 0;
        margin-top: 35px;
    }
    .main h1{
        font-size: 25px;
        margin-top: 100px;
    }
    .main p{
        margin-top: 80px;
    }
    .button button{
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 0;
    }
    .right1 h1{
        font-size: 30px;
    }
    .box p{
        font-size: 12px;
    }
    .left1{
        width: 100%;
        margin: 20px auto 0;
        float: left;
        
    }
    .left1 form{
        padding: 10px;
    }
    form input{
        width: 92%;
        margin-right: 0;
    }
    form select{
        width: 100%;
        outline: none;
    }
    form textarea{
        width: 95%;
    }
    button{
        margin-left: 70px;
        margin-top: 15px;
    }
    .footer .list{
        font-size: 15px;
        padding-left: 0;
        
    }
    .footer .list li{
        padding: 10px 13px 0 0
    }
    .footer-bottom {
        font-size: 8px;
        margin: 0;
        padding-left: 0;
        padding-top: 50px;
    }
    .bottom-right{
        padding-left: 0;
    }
}