*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
   
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
.top{
    width: 100%;
    background-color: #7cb8eb;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
}

.right{
    float: right;
}
.left p{
    float: left;
    padding-left: 20px;
}
.left{
    float: left;
    text-align: right;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-container{
    width: 100%;
    height: 100vh;
    background: url(./logo/slide1.jpg),rgba(3, 100, 208, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply; 
    animation: changeimage 5s linear infinite;
    position: relative;
}
@keyframes changeimage {
    0%{
        background-image: url(./logo/slide1.jpg);
    }
    50%{
        background-image: url(./logo/slide2.jpg);

    }
    100%{
        background-image: url(./logo/slide3.jpg);
    }
}
.nav{
    width: 80%;
    margin: 0 auto;
    color: #fff;
    position: relative;
}
.logo img{
    width: 50px;
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
}
nav{
    padding-top: 20px;
}
.logo{
    margin-top: 10px;
}

nav ul li .act:active{
    color: #2f97f1;
} 
nav ul li .act:visited{
    color: #2f97f1;
}

nav .logo span{
    position: relative;
    bottom: 30px;
    left: 10px;
    font-size: 25px;
}
.nav ul{
    margin-right: 30px;
}
.nav ul li{
    display: inline-block;
}
.nav ul li a{
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 30px;
    font-size: 17px;
    margin-top: 25px;
}
.nav ul ul{
    margin-top: 0;
}
.nav ul ul{
    position: absolute;
    display: block;
    background-color: #fff;
    visibility: hidden;
    border-radius: 20px;
}
.nav ul ul a{
    color: black;
    line-height: 10px;
    margin-bottom: 20px;
}
.nav ul li:hover > ul{
    color: #7cb8eb;
    opacity: 0.6;
    visibility: visible;
}
.nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    
    border-top: 0;
} 
.nav ul li a:hover{
    color: #7cb8eb;
}
.button button{
    background: none;
    font-size: 17px;
    padding: 12px 30px;
    border: 2px solid #fff;
    color: #fff;
    position: relative;
    top: 1px;
    border-radius: 55px;
    font-family: 'Poppins', sans-serif;
}
.button button:hover{
    background-color: #7cb8eb;
    border-color: #7cb8eb;
}
.menu{
    margin-top: 25px;
    margin-right: 20px;
    display: none;

}
.menu a{
    color: #fff;
    font-size: 30px;
}


.main{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    margin-top: 130px;
    font-size: 30px;
    padding-bottom: 20px;
    

}
.main h2{
    padding-bottom: 10px;
}

.ani{
    
    color: yellow;
   
}

.middle{
    padding-top: 10px;
    padding-left: 20px;
}
button{
    margin-right: 10px;
}
.middle button{
    margin-left: 20px;
    padding: 15px 35px;
    border-radius: 30px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #fff;
    background: none;
    border:2px solid #fff;
}

.middle .bt{
    background-color: #7cb8eb;
    border: 2px solid #7cb8eb;
}
.middle .bt:hover{
    background-color: #4f83d1;
    border: 2px solid #4f83d1;
}
.middle .bt1:hover{
    background-color: #7cb8eb;
    border: 2px solid #7cb8eb;
}

.wave{
    position: absolute;
    bottom: 0; 
}


.reliable{
    width: 80%;
    margin: 0 auto;
}
.left1{
    width: 50%;
    float: left;
}
.left1 h1{
    font-size: 40px;
    font-weight: bolder;
}
.left1 p{
    color: gray;
}

.right1{
    margin: 0;
    width: 50%;
    float: right;
    position: relative;
}
.im img{
    width: 100%;
    position: relative;
    top: 7px;
    object-fit: cover;
}
.blue{
    color: #7cb8eb;
}
.right1 .box{
    width: 25%;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    /* bottom: -412px; */
    background-color: #59adf7;
    /* right: 140px; */
    padding-left: 40px;
    color: #fff;
    border-radius: 10px;
}
.right1 .box h4{
    padding: 20px 0px;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 2px;
}
.right1 .box p{
    padding-bottom: 20px; 
}

.offer{
    width: 100%;
    background-color: #f0f8ff;
    padding: 50px 0px 90px 0px;
}
.text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
}
.best-offer{
    width: 80%;
    margin: 0 auto;
    background-color: darkmagenta;
}
.box-left{
    width: 49%;
    float: left;
    background-color: #f0f8ff;
    border-radius: 10px;
}
.box-right{
    width: 49%;
    float: right;
    background-color: #f0f8ff;
    border-radius: 10px;
}
.offer1{
    width: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #fff;
}
.offer2{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}
.offer3{
    width: 100%;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #fff; 
}
.offer4{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
}
.l{
    width: 40%;
    float: left;
    clear: left;
    padding: 25px 20px 20px 20px;
    border-radius: 10px;
    background-color: #fff;
}
.b{
    background-color: #4f83d1;
    padding: 7px ;
    position: relative;
    top: -10px;
    border-radius: 0 0 10px 10px;
    color: #fff;
}
.r{
    width: 50%;
    float: right;
    clear: right;
    padding-top: 20px;
    padding-left: 0;
    margin-left: 0;
} 
.t img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.b1{
    padding-top: 10px; 
    color: #7cb8eb;
}
.b1 button{
    padding: 15px 30px ;
    background-color: #4f83d1;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    margin-left: 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.b1 button:hover{
    background-color: #7cb8eb;
}
.t1 h2{
    font-size: 27px;
    color: #7cb8eb;
    padding-bottom: 15px;
}
.t1 p{
    color: gray;
} 
i .blue{
    color: #4f83d1;
}
/* center */
 
.center{
    width: 100%;
    background-color: #4f83d1;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(56, 107, 247, 0.7),rgba(56, 107, 247, 0.7)), url(./logo/coffe-shop-with-wooden-walls-unfocused.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center ;
}
.text2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
    font-size: 25px;
}
.center1{
    width: 80%;
    margin: 0 auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.center-box1{
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.center-child1{
    width: 100%;
    background-color: #7cb8eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 25px;
}
.center-child2{
    width: 100%;
    background-color: #7cb8eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
}
.center-child1 img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}
.center-child2 img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}
.icon{
    padding-right: 145px;
    padding-top: 30px;
}
.icon i{
    color: #4f83d1;
}
.icon h3{
    color: #fff;
    font-size: 27px;
}
.center-child1 p{
    padding:10px 30px 30px 30px;
    color: #fff;
}
.center-child2 p{
    padding:  10px 30px 30px 30px;
    color: #fff;
}
.move{
    position: relative;
    bottom: 10px;
}
/* brand-container */
.brand-container{
    width: 100%;
    padding-bottom: 50px;
}
.trusted{
    width: 290px; 
    margin: 0 auto; 
    padding: 7px 20px 7px 23px;
    border-radius: 30px;
    margin-bottom: 50px;
    box-shadow: 0 10px 20px #dddcdc;
    position: relative;
    bottom: 26px;
    background-color: #fff;
    font-size: 17px;
    min-width: 300px;
}
.brand{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.brand-child{
    width: 17%;  
}
.brand-child img{
    width: 100%;
    transition: ease .4s;  
}
.brand-child img:hover{
    transform: scaleX(1.1);
}
.woo{
    padding-top: 30px;
}
.glo{
   padding-top: 50px !important;
} 


/* footer */

footer{
    width: 100%;
    background-color: #7cb8eb;
    padding: 30px 0;
}
.footer{
    width: 80%;
    margin: 0 auto;
}
.logo-1 img{
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    float: left;
}
.footer .list{
    display: block;
    float: left;
    padding-left: 70px;
    color: #fff;
}
.footer .list li{
    float: left;
    padding: 20px;
}
.footer .list li a{
    color: #fff;
}
.footer .list li a:hover{
    color: #2491f1;
}
.footer .footer-middle{
    clear: left;
    padding-top: 30px;
    color: #fff;
    line-height: 35px;
}
.boot{
    width: 20%;
    float: left;
}
.boot-2{
    width: 35%;
    float: left;
}
.boot-2 .color{
   padding-top: 10px;
}
.boot-2 .color i{
    padding: 5px;
    background-color: #4f83d1;
    margin-right: 10px;
    font-size: large;
    border-radius: 50%;
}
.boot-2 .color .pa{
    padding: 5px 8px;
}
.boot-1{
    width: 20%;
    float: left;
    padding-top: 50px;
}
.footer-bottom{
    width: 100%;
    float: left;
    clear: left;
    padding-top: 100px;
    color: #fff;
}
.bottom-left{
    float: left;
}
.bottom-right{
    float: right;
    padding-left: 100px;
}

@media only screen and (max-width: 1355px){
    .left1{
        width: 100%;
    }
    .right1{
        width: 100%;
    }
    .right1 .im{
        width: 80%;
    }
    .box-left{
        width: 100%;
        margin-bottom: 20px;
    }
    .box-right{
        width: 100%;
    }
    .center-box1{
        width: 100%;
        margin-bottom: 30px;
    }
    .center-child1{
        width: 100%;
    }
    .center-child2{
        width: 100%;
    }
     .move{
        position: relative;
        top: 10px;
    }
    .right1 .box{
        position: absolute;
        float: left;
        bottom: 0;
        left: 300px;
    }
    .t1 p,h2{
        padding: 20px;
    }
    .b1{
        padding: 20px;
    }
    .trusted{
        width: 20%;
        font-size: 15px;
    }    
}
@media only screen and (max-width:1300px){
    .nav ul{
        display: none;
        clear: both;
        position: absolute;
        top: 120px;
        /* border-radius: 20px; */ 
        z-index: 2;
    
    }
    .nav ul li{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
   }
   .carrot{
       transform: rotate(-90deg);
   }
   .nav ul ul{
       position: absolute;
       left: 100px;
       z-index: 1; 
   }
   .menu{
       display: block;
   }
}

@media only screen and (max-width:1155px){
    .brand-child {
        width: 18%;
    }

}
@media only screen and (max-width:1005px){
    .brand-child {
        width: 18%;
    }

}
@media only screen and (max-width:900px){
    
    .container{
        font-size: 10px;
    }
    .box-left{
        width: 100%;
        margin-bottom: 20px;
    }
    .box-right{
        width: 100%;
    }
    .center-box1{
        width: 100%;
        margin-bottom: 30px;
    }
    .center-child1{
        width: 100%;
    }
    .center-child2{
        width: 100%;
    }
    .boot{
        width: 100%;
        float: left;
    }
    .boot-1{
        width: 100%;
        float: left;
    }
    .boot-2{
        width: 100%;
        float: left;
    }
    .footer-bottom{
        font-size: 10px;
    }
    .main{
        font-size: 20px;
        position: relative;
        bottom:30px;
    }
    .middle button{
        width: 100px;
        font-size: 10px;
        text-align: center;
        padding: 10px;
    }
    .offer .l{
        width: 90%;
    }

    .offer1 .r{
        width: 100%;
        float: left;
          
    }
    .offer2 .r{
        width: 100%;
        float: left;
    }
    .offer3 .r{
        width: 100%;
        float: left;
    }
    .offer4 .r{
        width: 100%;
        float: left;
    }
    .brand-child{
        width: 10%;
        position: relative;
    }
    .woo{
        position: absolute;
        bottom: 30px;
    }
    .glo{
        padding-top: 0 !important;
    }
    .right1 .box h4{
        font-size: 13px;
    }
    .right1 .box p{
        font-size: 10px;
    }
    .right .box{
       width: 20%;
    }
}


     


@media only screen and (max-width:700px){
    .brand-child {
        width: 10%;
    }
    .right1 .box{
        padding-left: 0;
     }
    .right1 .box h4{
        font-size: 12px;
        line-height: 15px;
        padding-left: 10px;
    }
    .right1 .box{
        left: 200px;
    }
}
@media only screen and (max-width:380px){
    .left{
        width: 60%; 
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        margin-right: 0;
        margin-top: 35px;
    }
    .main h1{
        font-size: 20px;
    }
    .middle{
        padding-left: 0;
        margin-top: 40px;
    }
    .middle .bt {
      margin-bottom: 25px;
    }
    .right1 .box{
        width: 130px;
        left: 150px;
    }
    .right1 .box p{
       padding: 10px;
    }
    .right1 .box h4{
       padding: 10px 0 5px 10px;
    }
    .text h1{
        font-size: 30px;
    }
    .offer .l{
        width: 85%;
    }
    .t1 h2{
        padding-top: 0;
        padding-bottom: 0;
    }
    .b1{
        padding-left: 19px;
        padding-right: 0;
    }
    .text2 h1{
        font-size: 30px;
    }
    .icon{
        padding-left: 30px;
    }
    .trusted h2{
        padding: 0;
    }
    .woo{
        top: 0;
        padding-top: 0;
        margin-top: 5px;
    }
    .footer .list{
        font-size: 15px;
        padding-left: 0;
        
    }
    .footer .list li{
        padding: 10px 13px 0 0
    }
    .footer-bottom {
        font-size: 8px;
        margin: 0;
        padding-left: 0;
        padding-top: 50px;
    }
    .bottom-right{
        padding-left: 0;
    }
}
@media only screen and (max-width:414px){
    .left{
        width: 60%; 
    }
    .menu a{
        font-size: 20px;
    }
    .menu{
        margin-right: 0;
        margin-top: 35px;
    }
    .main h1{
        font-size: 25px;
    }
    .main{
        margin-top: 400px;
    }
    .middle{
        padding-left: 0;
        margin-top: 40px;
    }
    .middle .bt {
      margin-bottom: 25px;
    }
    .right1 .box{
        width: 130px;
        left: 150px;
    }
    .right1 .box p{
       padding: 10px;
    }
    .right1 .box h4{
       padding: 10px 0 5px 10px;
    }
    .text h1{
        font-size: 30px;
    }
    .offer .l{
        width: 85%;
    }
    .t1 h2{
        padding-top: 0;
        padding-bottom: 0;
    }
    .b1{
        padding-left: 19px;
        padding-right: 0;
    }
    .text2 h1{
        font-size: 30px;
    }
    .icon{
        padding-left: 30px;
    }
    .trusted h2{
        padding: 0;
    }
    .woo{
        top: 0;
        padding-top: 0;
        margin-top: 5px;
    }
    .footer .list{
        font-size: 15px;
        padding-left: 0;
        
    }
    .footer .list li{
        padding: 10px 13px 0 0
    }
    .footer-bottom {
        font-size: 8px;
        margin: 0;
        padding-left: 0;
        padding-top: 50px;
    }
    .bottom-right{
        padding-left: 0;
    }
    
}

